# Dependencies
node_modules/
.pnpm-store/

# Environment (secrets)
.env
.env.local
.env.*.local

# Next.js
.next/
out/

# Hardhat
cache/
artifacts/
typechain-types/
coverage/
coverage.json

# Build & misc
dist/
build/
*.tsbuildinfo

# Logs & debug
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
*.swo

# Testing
.nyc_output/
